.header {
  display: block;
  padding: 20px 16px;
  background-color: var(--black);
}

.header__logo {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 16px;
}

.nav__list-item a {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.nav__list-item a:hover {
  color: var(--dark-gray);
}
.nav__list-item:last-child {
  display: none;
}

.header__contacts {
  display: none;
}

.contacts__phone {
  display: none;
}
.contacts__phone a {
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.contacts__phone a:hover {
  color: var(--dark-gray);
}

.contacts__socials {
  display: none;
}
.contacts__socials a svg path {
  -webkit-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}
.contacts__socials a svg:hover path {
  fill: var(--dark-gray);
}

@media all and (min-width: 576px) {
  .nav__list-item:last-child {
    display: list-item;
  }
}

@media all and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 52px;
    padding: 30px 0 0 0;
    background-color: transparent;
  }

  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  .header__logo p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.625rem;
    font-weight: 300;
    width: 140px;
  }

  .nav__list {
    gap: 24px;
  }

  .nav__list-item a {
    font-size: 1rem;
    text-transform: none;
  }
}

@media all and (min-width: 992px) {
  .header {
    padding: 57px 0 0 0;
  }

  .header__nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 47px;
  }

  .nav__list {
    gap: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .contacts__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
}

@media all and (min-width: 1155px) {
  .contacts__phone {
    display: inline;
  }
}
