.footer {
  padding: 40px 16px 60px 16px;
  background-color: var(--black);
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto 30px auto;
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}

.footer__block h3 {
  color: var(--dark-gray);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 20px 0 0 0;
}

.block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.block__list:nth-child(2) .block__list-item:nth-child(3) {
  display: none;
}

.block__list-item {
  font-size: 0.875rem;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.block__list-item:hover {
  color: var(--dark-gray);
}

.block__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 0 0;
}

.block__contacts-phone {
  font-weight: 500;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.block__contacts-phone:hover {
  color: var(--dark-gray);
}

.block__contacts-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.block__contacts-socials a {
  width: 24px;
  height: 24px;
}
.block__contacts-socials svg {
  width: 100%;
  height: 100%;
}
.block__contacts-socials svg path {
  -webkit-transition: fill 300ms ease-in-out;
  -o-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}
.block__contacts-socials svg:hover path {
  fill: var(--dark-gray);
}

.block__contacts-address {
  font-size: 0.875rem;
}

.footer__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin: 50px 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}
.footer__signature a {
  text-decoration: underline;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.footer__signature a:hover {
  color: var(--dark-gray);
}

@media all and (min-width: 576px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto);
    grid-template-rows: repeat(2, auto);
  }
  .footer__wrapper > *:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__wrapper > *:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer__wrapper > *:nth-child(3) {
    grid-row: 2;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer__wrapper > *:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
@media all and (min-width: 768px) {
  .footer {
    padding: 0 0 20px 0;
    background-color: transparent;
  }

  .footer__wrapper {
    -ms-grid-columns: auto auto 1fr;
    grid-template-columns: auto auto 1fr;
    -ms-grid-rows: (1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .footer__wrapper > *:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__wrapper > *:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .footer__wrapper > *:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer__block:last-child h3 {
    text-align: right;
  }

  .block__list:nth-child(2) .block__list-item:nth-child(1) {
    display: none;
  }
  .block__list:nth-child(2) .block__list-item:nth-child(3) {
    display: list-item;
  }

  .block__contacts {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .block__contacts-socials a {
    width: 20px;
    height: 20px;
  }

  .block__contacts-address {
    text-align: right;
  }

  .footer__signature {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 33px 0 0 0;
  }
}
@media all and (min-width: 992px) {
  .footer__block h3 {
    font-size: 0.875rem;
    letter-spacing: 0.7px;
  }

  .block__container:nth-child(2) {
    gap: 52px;
  }

  .block__list-item {
    font-size: 1rem;
  }

  .block__contacts-address {
    font-size: 1rem;
  }
}
@media all and (min-width: 1155px) {
  .footer__wrapper {
    gap: 98px;
  }
}
